
@{
    Layout = null;
}


<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="tr"> <![endif]-->
<!--[if IE 7]><html class="lt-ie9 lt-ie8" lang="tr"> <![endif]-->
<!--[if IE 8]><html class="lt-ie9" lang="tr"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="tr">
<!--<![endif]-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <title>Instagram </title>
    <link rel="shortcut icon" href="~/Content/ico/instagram.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />

    <!-- CSS -->
    

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.fancybox.min.css" rel="stylesheet" />
    <link href="~/Content/css/profil2.css" rel="stylesheet" />

    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/js/jquery.fancybox.min.js"></script>


    <!-- CSS -->
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <a href="#"><img src="~/Content/images/in.jpg" /></a>
                <div class="form-contr">
                    <input type="text" id="usr" placeholder=" Ara">

                </div>
            </div>

            <div class="right_top">
                <a href="#" class="kalp"></a>
                <a href="#" class="person"></a>
                <a href="#" class="link"></a>

            </div>

        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="resim">
                    <img src="~/Content/images/bender.jpg" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="icerik">
                    <img src="~/Content/images/gizprofil.jpg" />
                    <a href="#">gekaree</a><br />
                    <p>Gizem Güneş</p><br />
                    <div class="border">
                    </div>
                    <div class="baslik">
                        <p class="hikaye">Hikayeler</p>
                        <a href="#">Tümünü İzle</a>
                    </div>
                    <div class="clearfix"></div>
                    <div class="profils">

                        <div class="eda">
                            <div class="foto clearfix">
                                <a data-fancybox="gamze" href="~/Content/images/gamze.jpg">
                                    <img class="first-image" src="~/Content/images/gamze.jpg" />
                                </a>
                                <a data-fancybox="gamze" href="~/Content/images/gamze.jpg">
                                    <img class="first-image" src="~/Content/images/gamze.jpg" style="display:none" />
                                </a>
                                <!--Bu üstteki kodlarla bir fotoğrafa basıldığında birden fazla fotoğraf açılmasını sağlayabiliriz -->
                            </div>
                            <div class="yazi">
                                <a href="#">
                                    <p class="bold">gmzegunss</p>
                                    <p>18 SAAT ÖNCE</p>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="eda">
                            <div class="foto">
                                <a data-fancybox="ahmetcan" href="~/Content/images/ahmetcanb.jpg">
                                    <img src="~/Content/images/ahmetcan.jpg" />
                                </a>
                            </div>
                            <div class="yazi">
                                <a href="#">
                                    <p class="bold">ahmetcanbayram</p>
                                    <p>3 SAAT ÖNCE</p>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="eda">
                            <div class="foto">
                                <a data-fancybox="eda" href="~/Content/images/edab.jpg">
                                    <img src="~/Content/images/eda.jpg" />
                                </a>
                            </div>
                            <div class="yazi">
                                <a href="#">
                                    <p class="bold">edayavuzz04</p>
                                    <p>17 DAKİKA ÖNCE</p>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="eda">
                            <div class="foto">
                                <a data-fancybox="arda" href="~/Content/images/arda.jpg">
                                    <img src="~/Content/images/arda.jpg" />
                                </a>
                            </div>
                            <div class="yazi">
                                <a href="#">
                                    <p class="bold">arda_zden</p>
                                    <p>6 SAAT ÖNCE</p>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>


                        <div class="eda">
                            <div class="foto">
                                <div class="efe">
                                    <a data-fancybox="efe" href="~/Content/images/efeb.jpg">
                                        <img src="~/Content/images/efe.jpg" />
                                    </a>
                                </div>
                            </div>
                            <div class="yazi">
                                <a href="#">
                                    <p class="bold">efegungor</p>
                                    <p>45 SANİYE ÖNCE</p>
                                </a>
                            </div>
                        </div>


                    </div>

                </div><div class="alt">
                    <ul>
                        <li><a class="f" href="#">Hakkımızda</a> - </li>
                        <li><a class="f" href="#">Destek</a> - </li>
                        <li><a class="f" href="#">Basın</a> - </li>
                        <li><a class="f" href="#">API</a> - </li>
                        <li><a class="f" href="#">İş Fırsatları</a> - </li>
                        <li><a class="f" href="#">Gizlilik</a> - </li>
                        <li><a class="f" href="#">Koşullar</a> - </li>
                        <li><a class="f" href="#">Dizin</a> - </li>
                        <li><a class="f" href="#">Profiller</a> - </li>
                        <li><a class="f" href="#">Konu Etiketleri</a> - </li>
                        <li><a class="f" href="#">Dil</a></li>
                    </ul>
                    <span class="cpyright">&copy;	2018 INSTAGRAM</span>
                </div>
            </div>
        </div>
    </div>





</body>
</html>