
@{
    Layout = null;
}



<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="tr"> <![endif]-->
<!--[if IE 7]><html class="lt-ie9 lt-ie8" lang="tr"> <![endif]-->
<!--[if IE 8]><html class="lt-ie9" lang="tr"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="tr">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <title>Instagram </title>
    <link rel="shortcut icon" href="~/Content/ico/instagram.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/login.css" />
    <!-- CSS -->
</head>

<body>


    <div class="container">
        <div class="col-md-6">
            <img class="iphone" src="~/Content/images/iphone.jpg" alt="iphone" />
        </div>
        <div class="col-md-6">
            <div class="kutu">
                <img class="logo" src="~/Content/images/instagramlogo.png" />
                <div class="form-area">
                    <form>
                        <div class="form-group">

                            <input type="text" class="form-control" id="exampleinputemail1" placeholder="Telefon numarası, kullanıcı adı veya e-posta a...">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Şifre">
                        </div>
                        <div class="buton1">
                            <button type="button">Giriş Yap</button>
                        </div>
                    </form>
                    <div class="cizgi">
                        <span class="lineleft"></span>
                        <p>YA DA</p><span class="lineright"></span>
                    </div>
                </div>
                <div class="withfblogin">
                    <a href="#"><img src="~/Content/images/facebook.png" style="width:25px;height:25px;" />Facebook ile Giriş Yap</a>
                </div>
                <div class="passwd">
                    <a href="#">Şifreni mi unuttun?</a>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="kutu2">
                <p>Hesabın yok mu? <a href="#">Kaydol</a> </p>
            </div><br />
            <p id="uygulama">Uygulamayı indir.</p>
            <div class="link">
                <a href="#"><img src="~/Content/images/appstore.jpg"></a>
                <a href="#"><img src="~/Content/images/gplay.jpg" /></a>
            </div>
        </div>

    </div>
    <div class="footer">
        <div class="container">
            <div class="col-md-10">
                <ul>
                    <li><a href="#">HAKKIMIZDA</a></li>
                    <li><a href="#">DESTEK</a></li>
                    <li><a href="#">BASIN</a></li>
                    <li><a href="#">API</a></li>
                    <li><a href="#">İŞ FIRSATLARI</a></li>
                    <li><a href="#">GİZLİLİK</a></li>
                    <li><a href="#">KOŞULLAR</a></li>
                    <li><a href="#">DİZİN</a></li>
                    <li><a href="#">PROFİLLER</a></li>
                    <li><a href="#">KONU ETİKETLERİ</a></li>
                    <li><a href="#">DİL</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <span class="cpyright">&copy;	2018 INSTAGRAM</span>
            </div>
        </div>
    </div>

</body>
</html>